/* --------------------------------------------------------------------------------------------------------------------------------------------------
HTML
-------------------------------------------------------------------------------------------------------------------------------------------------- */

body {margin:0; line-height:20px; font-size:17px; font-family:"helvetica", sans-serif;}
address, blockquote, dl, fieldset, form, h1, h2, h3, h4, h5, h6, ol, p, table, ul {margin:15px 0;}
h1 {font-size:20px;}
h2 {font-size:21px; font-weight:bold;}
h2.page-title {margin-top:0; padding-bottom:5px; font-size:24px; font-weight:bold;}
h3 {font-size:19px; font-weight:bold;}
h4, h5, h6 {font-size:17px; font-weight:bold;}
ul li {padding-left:17px; background:url("../design/ul.png") 0 7px no-repeat;}
ul ul {margin:0; font-size:15px;}
ul ul li {padding-left:15px; background:url("../design/ul-ul.png") 0 7px no-repeat;}
table th {padding:5px; font-weight:bold; text-align:center;}
table td {padding:5px;}
fieldset {padding:9px; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px;}
fieldset legend {font-weight:bold;}
fieldset form, fieldset dl {margin:0;}
fieldset dd {margin-bottom:5px;}
img.f-left {margin-right:9px;}
img.f-right {margin-left:9px;}
.input-text {width:95%; padding:4px; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; background:url("../design/input-text.png") 0 0 repeat-x;}
.input-submit {padding:4px;}
input.delete {color: red;}
input.edit {color: #blue;}
input.save {color: green;}

/* --------------------------------------------------------------------------------------------------------------------------------------------------
LAYOUT
-------------------------------------------------------------------------------------------------------------------------------------------------- */

#wrapper {position:relative; min-height:100%; overflow:auto;}
#header {position:relative; height:40px; padding:0 9px;}
#header #logo {position:absolute; top:12px; left:9px; margin:0;}
#header #logo a {text-decoration:none;}
#header a.header-button {position:absolute; top:10px; right:9px; padding:5px 10px; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; background:url("../design/useravatar.png") 0 0 no-repeat; font-size:12px; text-decoration:none; text-align:center; font-weight:bold;}
#header a.header-hamburger {position:absolute; top:9px; left:9px; padding:5px 10px; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; background:url("../design/hamburger.png") 0 0 no-repeat; font-size:12px; text-decoration:none; text-align:center; font-weight:bold;}
#leftnav {position:absolute; top:40px; left:0; z-index:999; width:175px; border:1px solid #2F2F2F; background:#fff; display: none; }
#leftnav ul {margin:0; padding:9px; list-style:none;}
#leftnav ul li {display:inline; padding:0; background:#none;}
#leftnav ul li a {display:block; margin-bottom:5px; padding:9px; text-decoration:none; text-align:left;}
#leftnav ul li:last-child a {margin-bottom:0;}
#rightnav {position:absolute; top:40px; right:0; z-index:999; width:175px; border:1px solid #2F2F2F; background:#fff; display: none; }
#rightnav ul {margin:0; padding:9px; list-style:none;}
#rightnav ul li {display:inline; padding:0; background:none;}
#rightnav ul li a {display:block; margin-bottom:5px; padding:9px; text-decoration:none; text-align:right;}
#rightnav ul li:last-child a {margin-bottom:0;}
#content {padding:15px 9px;}
#footer {position:relative; padding:15px 9px; background:url("../design/footer.png") 0 0 repeat-x; font-size:12px;}
#footer #footer-button a {display:block; position:absolute; top:9px; right:9px; padding:5px 10px; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; background:url("../design/footer-button.png") 0 100% repeat-x; font-size:12px; text-decoration:none; text-align:center; font-weight:bold;}
#footer p {margin:0;}
#pagetoolbar button {display: inline;border:1px solid #AAA;padding:4px; padding-left: 18px; min-height: 18px; margin-right: 10px; vertical-align: middle; font-size: 14px;}
#pagetoolbar button#editBtn {background:url("../design/edit.png") left center no-repeat;}
#pagetoolbar button#deleteBtn {background:url("../design/delete.png") left center no-repeat;}
#pagetoolbar button#backBtn {background:url("../design/back.png") left center no-repeat;}

/* --------------------------------------------------------------------------------------------------------------------------------------------------
PAGE: VIEW
-------------------------------------------------------------------------------------------------------------------------------------------------- */

#accordion span.devices {float: right;}
.pager {width: 100%; text-align: center;}
.pager img {height: 24px; position: relative; top: 7px; padding: 0px 5px 0px 5px;}

/* --------------------------------------------------------------------------------------------------------------------------------------------------
PAGE: SEARCH
-------------------------------------------------------------------------------------------------------------------------------------------------- */

#searchForm table {border: none; margin: -10px 0px 0px 0px;}
#searchForm td {border: none;}
#searchForm a.small {font-size: 9px;}
.slideout-menu {position: fixed;top: 0;left: -250px;width: 250px;padding-left: 5px;height: 100%;background: rgba(3,3,3,0.8);z-index: 999;color: white;}
.slideout-menu dl {width: 90%; padding-left: 10px;}
.slideout-menu dt {color: white; padding-top: 10px;}
.slideout-menu select {width: 100%;}