body { width: 100%; }
#wrapper { width: 900px; margin-right: auto; margin-left: auto; padding-top: 10px; }
fieldset { width: 90%; margin-left: auto; margin-right: auto; }
fieldset.thinField { width: 65%; }
fieldset.thickField { width: 95%; }
a.header-hamburger { display: none; }
div#leftnav { width: 100%; display: block; float: left; margin: 0 0 1em 0; padding: 0; background-color: #f2f2f2; border-bottom: 1px solid #ccc; border-left: 0px; }
div#leftnav ul { width: 850px; margin: 0 auto; padding: 0; }
div#leftnav li { float: left; }
div#leftnav li a { display: block; text-decoration: none; background-color: #fff; font-weight: bold; padding-left: 20px; padding-right: 20px; color: #069; border-right: 1px solid #ccc; margin: 0; }
div#leftnav ul li:first-child a { border-left: 1px solid #ccc; }
div#leftnav li a:hover { color: #c00; background-color: #fff; }
div#content { padding-top: 45px; }
div#welcomeHeader { position: absolute; top: 12px; right: 45px; float: right; text-align: right; width: 250px; color: #fff; }

/* --------------------------------------------------------------------------------------------------------------------------------------------------
PAGE: VIEW
-------------------------------------------------------------------------------------------------------------------------------------------------- */

#desktopTable:hover { cursor: pointer; }
#laptopTable:hover { cursor: pointer; }
#desktopTable th { text-align: center; vertical-align: middle; }
#laptopTable th { text-align: center; vertical-align: middle; }

/* --------------------------------------------------------------------------------------------------------------------------------------------------
PAGE: DETAILS
-------------------------------------------------------------------------------------------------------------------------------------------------- */

#pagetoolbar button:hover { cursor: pointer; }