/* --------------------------------------------------------------------------------------------------------------------------------------------------
HTML
-------------------------------------------------------------------------------------------------------------------------------------------------- */

body {background:#FFF;}
a {color:#3b73af;}
h2.page-title {border-bottom:3px solid #FD0;}
ul ul {color:#555;}
table {border:2px solid #CCC;}
table th {border:1px solid #CCC; border-bottom:2px solid #FC0;}
table td {border:1px solid #CCC;}
fieldset {border:1px solid #CCC;}
fieldset dt {color:#555;}
.input-text {border:1px solid #AAA;}

/* --------------------------------------------------------------------------------------------------------------------------------------------------
LAYOUT
-------------------------------------------------------------------------------------------------------------------------------------------------- */

#header {background-color:#205081;}
#header #logo, #header #logo a {color:#FFF;}
#header .header-button {background-color:#FC0; color:#000;}
#nav {border-top:1px solid #2F2F2F; background-color:#fff;}
#nav ul li a {color:#000;}
#footer {color:#555;}
#footer #footer-button a {background-color:#FFF; color:#000;}
#footer a {color:#000;}

/* --------------------------------------------------------------------------------------------------------------------------------------------------
PORTLET: TEXT BOX
-------------------------------------------------------------------------------------------------------------------------------------------------- */

.text-box {border:1px solid #CCC; background:#FFF;}
