
html, body {   
 width: 100%;   
height: 100%;   
font-family: "Helvetica Neue", Helvetica, sans-serif;   

-webkit-font-smoothing: antialiased;    
background:#205081;
}


body
{
	
	
	width:100%;
	margin: auto;

}

.logo
{
	background-color:#205081;
	width:100%;
	height: 100px;
	margin: auto;
	margin-top: 0px;
}

.logo ul li 
{
	color:white;
	display:inline-block;
	/*padding-right: 100px;*/
	font-size: 60px;
	/*text-decoration: none;*/
	text-align: center;
	padding-left: 25%;
	padding-top: 10px;
}


#container 
{
position: fixed;
width: 500px;
height: 200px;
top: 60%;
left: 43%;
margin-top: -140px;
margin-left: -170px;
background:#FFFFFF;
    border-radius: 3px;
    border: 1px solid #ccc;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
}

form {
    margin: 0 auto;
    margin-top: 20px;
}
label {
    /*color: #555;*/
    display: inline-block;
    margin-left: 18px;
    padding-top: 10px;
    font-size: 14px;
}


p a {
    font-size: 11px;
   /* color: #aaa;*/
    float: right;
    margin-top: -13px;
    margin-right: 20px;
}
p a:hover {
    color: #555;
}
input {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 12px;
    outline: none;
}
input[type=text],
input[type=password] {
    /*color: #777;*/
    padding-left: 10px;
    margin: 10px;
    margin-top: 12px;
    margin-left: 18px;
    width: 290px;
    height: 35px;
}

#lower {
    background: #ecf2f5;
    width: 100%;
    height: 69px;
    margin-top: 20px;

    font-size: 20px;
}
input[type=checkbox] {
    margin-left: 20px;
    margin-top: 30px;
}
.check {
    margin-left: 3px;
}
input[type=submit] {
    float: right;
    margin-right: 20px;
    margin-top: 20px;
    width: 80px;
    height: 30px;
    font-size: 16px;
}

html, body {   
 width: 100%;   
height: 100%;   
font-family: "Helvetica Neue", Helvetica, sans-serif;   

-webkit-font-smoothing: antialiased;    
background: #FFFFFF;
}


body
{
    
    
    width:80%;
    margin: auto;

}

.logo
{
    background-color: #205081;
    width:100%;
    height: 100px;
    margin: auto;
    margin-top: 0px;
}

.logo ul li 
{
    color:white;
    display:inline-block;
    /*padding-right: 100px;*/
    font-size: 60px;
    /*text-decoration: none;*/
    text-align: center;
    padding-left: 25%;
    padding-top: 10px;
}


  table.center {
    margin-left:auto; 
    margin-right:10%;
    margin-top: 20px;
  }

.b1
{
    margin-top: 60;
    display:inline-block;
    margin-left: 15%;
}

.b2
{
    display:inline-block;
    margin-right: 100;
}

h2
{
    display: inline-block;
    margin: auto;
}

