
html, body {   
 width: 100%;   
height: 100%;   
font-family: "Helvetica Neue", Helvetica, sans-serif;   

-webkit-font-smoothing: antialiased;    
}


body
{
	
	
	width:80%;
	margin: auto;

}

.logo
{
	background-color: #205081;
	width:100%;
	height: 100px;
	margin: auto;
	margin-top: 0px;
}

.logo ul li 
{
	color:white;
	display:inline-block;
	/*padding-right: 100px;*/
	font-size: 60px;
	/*text-decoration: none;*/
	text-align: center;
	padding-left: 27%;
	padding-top: 10px;
}



p a {
    font-size: 11px;
   /* color: #aaa;*/
    float: right;
    margin-top: -13px;
    margin-right: 20px;
}
p a:hover {
    color: #555;
}
input {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 12px;
    outline: none;
}



input[type=button] {
    float: right;
    margin-right: 20px;
    margin-top: 20px;
    width: 80px;
    height: 30px;
    font-size: 16px;
}

#note
{
    margin-left: 300;
    margin-top: 300px;

}