
html, body {   
 width: 100%;   
height: 100%;   
font-family: "Helvetica Neue", Helvetica, sans-serif;   

-webkit-font-smoothing: antialiased;    
}


body
{
	
	
	width:80%;
	margin: auto;

}

.logo
{
	background-color: #205081;
	width:100%;
	height: 100px;
	margin: auto;
	margin-top: 0px;
}

.logo ul li 
{
	color:white;
	display:inline-block;
	/*padding-right: 100px;*/
	font-size: 60px;
	/*text-decoration: none;*/
	text-align: center;
	padding-left: 27%;
	padding-top: 10px;
}





#container 
{
    background: #A9E2F3;
position: fixed;
width: 340px;
height: 280px;
top: 50%;
left: 50%;
margin-top: -140px;
margin-left: -170px;

    border-radius: 3px;
    border: 1px solid #ccc;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
}

#container label
{
    padding-left: 10;
    margin-top: 50px;
}

#container #second
{
    padding-left: 20;
    margin-top: 50px;
}


form {
    

    margin: 0 auto;
    margin-top: 20px;
}

#labeler a {
    /*color: #555;*/
    color: black;
    display: block;
    margin-left: 18px;
    padding-top: 10px;
    font-size: 14px;
}


p a {
    font-size: 11px;
   /* color: #aaa;*/
    float: right;
    margin-top: -13px;
    margin-right: 20px;
}
p a:hover {
    color: #555;
}
input {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 12px;
    outline: none;
}
input[type=text],
input[type=password] {
    /*color: #777;*/
    padding-left: 10px;
    margin: 10px;
    margin-top: 12px;
    margin-left: 18px;
    width: 290px;
    height: 35px;
}

#lower {
    background: #ecf2f5;
    width: 100%;
    height: 69px;
    margin-top: 20px;

    font-size: 20px;
}
input[type=checkbox] {
    margin-left: 20px;
    margin-top: 30px;
}
.check {
    margin-left: 3px;
}
input[type=button] {
    float: right;
    margin-right: 20px;
    margin-top: 20px;
    width: 80px;
    height: 30px;
    font-size: 16px;
}
